[2019-08-15 14:17] chcorbato opened #1 "implement metacontrol reasoning in python"

[2019-08-16 12:55] chcorbato opened #2 "Better owlready2 code"
- [ ] use search_one() instead of search()[0]
- [ ] create individuals with keyword parameters for properties

[2019-08-16 12:56] chcorbato commented on #1
first version in a script kind of working in branch [owlready2](https://github.com/rosin-project/mros1_reasoner/tree/owlready2)

[2019-08-16 12:56] #1 closed

[2019-08-21 08:16] chcorbato opened #3 "Complete installation and execution instructions in README"
We need to be able to deploy the mros1_reasoner in any machine.

As info, this is the excerpt of what @gavanderhoorn did in my machine to get it running
[code]

[2019-08-21 08:18] gavanderhoorn commented on #3
This seems to partly be a duplicate of https://github.com/rosin-project/cheops/issues/5.

Which was already completed.

[2019-08-21 08:29] chcorbato commented on #3
Thanks Gijs, sorry I was not aware

[2019-08-21 08:29] #3 closed

[2019-08-21 08:30] gavanderhoorn commented on #3
No problem.

It only documents the way Kinetic is built with Python 3 though.

But the rest is basic workspace setup and building.

Might want to write a few words about that.

[2019-08-22 08:08] chcorbato opened #4 "Need proper functional hierarchy diagnosis"
- [ ] If a needed objective is in error, not the entire hierarchy upstream needs to be fixed, but only the FG solving that objective
   - [ ] We need to differentiate FG errors: internal (due to binding errors or solved objective in error) or external (due to needed obj error)
   - [ ] FD.errorLog should only be updated in the case of FG internal error

[2019-08-28 13:18] gavanderhoorn opened #5 "Don't overlay Py2 workspace on Py3 (as suggested in the readme)"
The [readme](https://github.com/rosin-project/mros1_reasoner/blob/7c76d6045d2e6e4c3574371c468ce43f13e7f1cf/README.md) currently states:

this is not a good idea, as this would overlay a Python 2 workspace on top of a Python 3 workspace.

Suggestion: copy the `cheops_system_state_msgs` package (and *just* that package) into the Python 3 workspace (ie: `abb_metacontrol_ws`), so it now exists in both

[2019-08-28 13:46] chcorbato commented on #5
Ok!

[2019-08-28 13:46] #5 closed

[2020-04-17 14:32] chcorbato opened #6 "Problem migrating to Melodic"
I tried to emulate Gij's instructions for [Kinetic with Python3 support](https://answers.ros.org/question/237613/how-to-define-ros-kinetic-to-use-python3-instead-of-python27/?answer=331009#post-id-331009), to setup a ROS Melodic installation with Python3 support for the metacontrol reasoner, see branch [`melodic`](https://github.com/rosin-project/mros1_reasoner/tree/melodic)

I think I managed to

[2020-04-17 16:42] gavanderhoorn commented on #6
Is there anything in the reasoner nodes that needs functionality only supported in Melodic?

If not, it would seem unnecessary to try to build Melodic.

---

I would perhaps just try to use [rospypi/simple](https://github.com/rospypi/simple).

Create a `venv`, just as you've done earlier, run the two install commands shown in the readme -- make sure to install additional packages if/when needed.

[2020-04-17 19:39] chcorbato commented on #6
Solved, I had not sourced the ws for ROS Melodic with Python3 before building the mros1_reasoner ws, and therefore it was not properly setup.
I added this to the instructions.

[2020-04-17 19:39] #6 closed

[2020-04-20 07:50] chcorbato opened #7 "SWRL rules with ^^xsd:string in an antecedent atom does not seem to work"
(required for the implementation to solve #4 )
Example rule **S1a**:
`
fg_status(?fg, "INTERNAL_ERROR"^^xsd:string), FunctionGrounding(?fg), solvesO(?fg, ?o), Objective(?o) -> o_status(?o, "INTERNAL_ERROR"^^xsd:string)
`

However, the rules with a logical value for the atom seem to be working.
e.g. rule **S3**:
`Binding(?b) ^ hasBindings(?fg, ?b) ^ b_status(?b, false) -> fg_status(?fg, "INTERNAL_E

[2020-04-20 08:11] chcorbato commented on #7
Removing `^^xsd:string` from the rules:

**S1a**:
`fg_status(?fg, "INTERNAL_ERROR"^^xsd:string), FunctionGrounding(?fg), solvesO(?fg, ?o), Objective(?o) -> o_status(?o, "INTERNAL_ERROR"^^xsd:string)`

However, the rules with a logical value for the atom seem to be working.
**S3**:
`Binding(?b) ^ hasBindings(?fg, ?b) ^ b_status(?b, false) -> fg_status(?fg, "INTERNAL_ERROR")`

[code]

[2020-04-20 08:12] chcorbato commented on #7
### Important note:
The rules are not consistently displayed in the `ROWL` tab (^^xsd qualifiers are not displayed, even if present!)

[2020-04-20 12:16] chcorbato commented on #7
The problem was not in the ontology rules with `^^xsd:string`, but on the reasoner code, because the Object properties needed to be updated to the change in `tomasys`
see: 6a4c76f2f7b07b665b011252b36b92daa669a64e

[2020-04-20 12:16] #7 closed

[2020-04-21 13:30] chcorbato opened #8 "ModuleNotFoundError: No module named 'Cryptodome' when trying to use rostopic pub in launchfile"
I have tried to create a mock diagnostics using rostopic pub ni the mros1_reasoner launch file, but I get the following error:
[code]

This is the code that causes it when added in the launchfile:
[code]

For the moment, I will use a launch file in the `abb_cheops_ws` for this implementation of `mock_metacontrol_diagnostic` with `rostopic`

[2020-04-21 13:32] chcorbato commented on #8
Update: I get an error `ModuleNotFoundError: No module named 'rostopic'` when trying to use `rostopic` in the workspace with Melodic build from sources with Python3 support.
I guess I am missing some ROS utils in that ws.

[2020-04-29 11:47] chcorbato opened #9 "Define the scenario for energy:"
- what is the navigation mission
  - navigate from A to B
- what is the adaptation trigger?
  - battery consumption gets higher than a threshold
- what is the adaptation?
  - the metacontrol reconfigures `move_base` to the [`low_power` config](https://docs.google.com/spreadsheets/d/12aB35Jj4qmarIq3OWHocATmnDfUa6ftp_j09W5twy1g/edit#gid=0&range=E2)
  - FDs only involve change in [`move_base` params

[2020-04-29 12:01] chcorbato opened #10 "Estimate reasonable values for the QAs of each FD/configuration"
- [ ] @darkobozhinoski please add link to relevant QAs definitions (safety, energy)
- [x] Run basic experiments
- obtain experimental data on the evaluation metrics (see **[goc](https://docs.google.com/document/d/1FRyrRr9ETblZj5e3-rSsoi8XIl6d_fzOLu6jlB4bxLY/edit#heading=h.v8uit0o1sfxz)**) and metacontrol_sim#26

[2020-04-29 12:23] chcorbato opened #11 "Decide how to execute reconfiguration"
Can be based on:
-  [`cheops_graph_manipulation`](https://github.com/rosin-project/cheops/tree/master/cheops_graph_manipulation)
- the one from Rainbow
- Carlos' previous [metacontroller](https://github.com/chcorbato/om_ros/tree/master/OMRosDrivers_py)

- [ ] Implementation in https://github.com/rosin-project/metacontrol_sim/issues/7

[2020-04-29 12:25] chcorbato commented on #11
@marioney can you copy here the links to the rainbow code for this?

[2020-04-29 12:30] chcorbato commented on #9
- [ ] Define constants for the battery
- [ ] Define A and B

[2020-04-29 12:30] marioney commented on #9
https://docs.google.com/spreadsheets/d/12aB35Jj4qmarIq3OWHocATmnDfUa6ftp_j09W5twy1g/edit#gid=0

[2020-04-29 13:42] marioney commented on #9
Possible initial Values:  A =  0, 0 (center of the map)
                                     B =   10.5, 5.5  (Exit point)

![Init_goal_points](https://user-images.githubusercontent.com/5198223/80602940-0e3a8180-8a30-11ea-8d42-b032d8fa5a6e.png)

[2020-04-29 14:15] marioney commented on #9
The following values are used to control the battery load cont
[code]
With these values, the average power load while running the navigation is
[code]
The `additional_consumption` parameter can be used to artificially increase the power load

[2020-04-29 14:19] marioney commented on #11
The code used by rainbow is this

https://github.com/cmu-mars/cmu-robotics/blob/development/cp-gazebo-p2/cp_gazebo/scripts/kill_bringup_amcl.py

[2020-04-29 14:21] chcorbato commented on #11
Proposal:
- implement component `Rosgraph_manipulator`
- see specification of interfaces in [architecture gdoc](https://docs.google.com/document/d/1BaOxo7_WQ2fUUUWIyw5pE_K_q6sErQJXge5VeFjyhgQ/edit#heading=h.qljntcabvb0p)

It is based on [`cheops_graph_manipulation`](https://github.com/rosin-project/cheops/tree/master/cheops_graph_manipulation) but:
- action goal is a string with the name of the de

[2020-04-29 15:28] #11 closed

[2020-04-29 15:31] chcorbato opened #12 "Re-send nav action goal after re-launching move_base"
What about the navigation goal?
It is hold by the action server, which originally is the move_base, but we kill it
SOLUTION: intermediary action server in the metacontrol that is the action server that the user/app_logic sees, and to which is sends the nav_goal
The the metacontroller manages that this goal is a metacontrol objective and is responsible to send it again to new configurations

[2020-04-29 16:15] marioney commented on #9
The battery constants have been added to the battery power load controller  (see https://github.com/rosin-project/metacontrol_sim/pull/9#issue-410812757)

[2020-04-29 16:15] #9 closed

[2020-04-30 06:05] chcorbato opened #13 "Release mros_reasoner as a rospy package without ros installation"
From @gavanderhoorn (thanks!) in #6

This is an interesting idea to simplify the release and deployment of mros_reasoner

[2020-04-30 06:06] chcorbato commented on #6
Thanks for the idea! I opened a new issue for it #13

[2020-04-30 09:19] chcorbato commented on #12
Quick solution for MVP in https://github.com/rosin-project/metacontrol_sim/issues/10

[2020-04-30 10:02] gavanderhoorn commented on #13
I'm not sure I intended for you to *release* `mros_reasoner`. Perhaps my comment wasn't clear.

[2020-04-30 10:56] chcorbato commented on #13
No, you are clear, I did not chose the right word, release clearly is not.
build?
develop?

[2020-04-30 13:53] marioney opened #14 "Missing location of dependencies (repositories) for installation instructions"
After following the steps on README.md there are some dependencies repositories that need to be added to the reasoner_ws, they are on the package.xml but there's no indication on where to find them

These are the repositories needed and their locations

cheops_system_state_msgs
https://github.com/rosin-project/cheops/tree/master/cheops_system_state_msgs

cheops_graph_manipulation_msgs
https://gith

[2020-04-30 14:07] chcorbato opened #15 "runtime error missing 'java'"
This seems related to missing dependencies related to owl reasoning #14
Maybe just install Protege is a workaround.

[2020-04-30 15:08] marioney commented on #15
I've solved the missing dependency by installing openjdk-11

[code]
But I'm not sure if only the jre is needed

[2020-04-30 22:29] chcorbato opened #17 "TypeError: '>' not supported between instances of 'IndividualValueList' and 'float'"
https://github.com/rosin-project/mros1_reasoner/blob/ba6ec6c1d25bda7fd778adae293f1a4e3ede88ea/mros1_reasoner/scripts/mros1_reasoner.py#L74

This is error is usually related to to `fd.fd_qa_tradeoff=[]` because no value has been assigned by any SWRL rule, for example when the only QA we are considering is energy

[2020-05-01 06:22] chcorbato commented on #13
@marioney are you available to implement this?

[2020-05-01 11:14] chcorbato opened #18 "Unknown configuration request desired_configuration_name: "fg_fd_navigate_safe""
(in 08851437e85bcc23ce954f9ef17e5c421191fc85)
This requires a proper fix in [`mros1_reasoner.py`](https://github.com/rosin-project/mros1_reasoner) and maybe [`rosgraph_manipulator.py`](https://github.com/rosin-project/metacontrol_sim/blob/MVP_world/scripts/rosgraph_manipulator.py)
[code]

[2020-05-01 11:25] chcorbato commented on #15
Did you added this to the README @marioney ? If so we can close the issue I think

[2020-05-01 11:26] chcorbato commented on #17
fixed in https://github.com/rosin-project/mros1_reasoner/commit/08851437e85bcc23ce954f9ef17e5c421191fc85

[2020-05-01 11:26] #17 closed

[2020-05-01 11:33] darkobozhinoski opened #19 "Rosinstall error"
@marioney , can you check this:

I am getting the following error:

[code]

Furthermore, the link to rosinstall is also wrong in this command:
wstool init src https://raw.githubusercontent.com/rosin-project/mros1_reasoner/mvp/mros1_reasoner.rosinstall

[2020-05-01 11:42] gavanderhoorn commented on #19
actually, that is the reason for the error.

Try this instead:

[code]

[2020-05-01 12:04] gavanderhoorn commented on #13
The message dependencies may be a bit tricky to generate btw. If you're current work-around works, you may consider to keep using it.

[2020-05-01 12:16] marioney commented on #13
Do you have / know of an example of this. I've just started looking as you say it seems a bit (lot) tricky.

[2020-05-01 12:17] gavanderhoorn commented on #13
See [the readme](https://github.com/rospypi/simple/tree/28ef7383e1d1bf87f0c5f91c02b6678b6046938f#generate-message-python-package).

[2020-05-01 12:53] chcorbato commented on #13
Maybe we can postpone this if it is a bit cumbersome, we still have a lot to do for the paper.

[2020-05-01 14:06] chcorbato opened #20 "Status of objectives need to be reset after reconfiguration"
Otherwise in the next metacontrol cycle reconfiguration will be done again (but maybe different since the configuration that failed to solve the objective (fg.typeFD) would be a different one)

[2020-05-01 14:21] chcorbato commented on #18
Fixed in b6c80724f3a5be0c78c9d747a4d975414fe2205f

[2020-05-01 14:21] #18 closed

[2020-05-01 14:34] chcorbato commented on #20
done 3777dc14623a4aebef664489e2b9b27233bc734c

[2020-05-01 14:34] #20 closed

[2020-05-04 12:53] darkobozhinoski commented on #10
My suggestion here is the define a configuration as a pair of QA= (safetyQA, energyQA)

  | Low | High
-- | -- | --
QA Estimated Safety | [0.0, 0.8) | [0.8, 1.0]
QA Estimatd Energy | [0.0, 1.9) | [1.9, 3.0]
  |   |  
  |   |  
  |   |  
  |   |  
  |   |  
  |   |  
  | Low Power | High Power
Low Safety | s ∈ [0.0, 0.8), e ∈ [0.0, 1.9) | s ∈ [0.0, 0.8), e ∈ [1.9, 3.0)
High Safety | s ∈ [0.8, 1.0),

[2020-05-08 06:52] chcorbato opened #21 "Make QAs application specific"
Separate QA definition from the metacontroller, make QA application specific:
the developer should define the QAs needed for the application: `energy`, `safety` or `qa_x`

For this, we need to create the generic `QA` class in `tomasys` so that we can have individuals in the application model for the application specific QAs

[2020-05-12 14:52] chcorbato opened #22 "Explore ontology queries to implement configuration selection (instead of phyton code)"

[2020-05-12 14:59] chcorbato opened #23 "Explore use of python scripts in combination with the ontology OWL API"
[Mixing Python and OWLin owlready2](https://pythonhosted.org/Owlready/mixing_python_owl.html):
- Adding Python methods to an OWL Class
- Generating Instance names
- Forward declarations
- Associating a Python module to an OWL ontology

[2020-05-13 06:39] chcorbato commented on #19
can we close this issue @darkobozhinoski ?

[2020-05-13 06:45] chcorbato commented on #8
This was a problem with the sourcing of overlay workspaces.
should be solved following updated instructions in branch [`mvp`](https://github.com/rosin-project/mros1_reasoner/tree/mvp)

[2020-05-13 06:45] #8 closed

[2020-05-13 06:47] chcorbato commented on #14
solved in [`mvp`](https://github.com/rosin-project/mros1_reasoner/tree/mvp)

[2020-05-13 06:47] #14 closed

[2020-05-13 06:47] chcorbato commented on #15
solved in [`mvp`](https://github.com/rosin-project/mros1_reasoner/tree/mvp)

[2020-05-13 06:47] #15 closed

[2020-05-13 09:14] chcorbato opened #24 "QA diagnostics of the same QA from Observer are accumulated as a list of QA values for reasoner"
See: https://github.com/rosin-project/mros1_reasoner/blob/d94814671bda1d13d8ce52b6a2572f4054c863f6/mros1_reasoner/scripts/mros1_reasoner.py#L231

- [ ] Since there is no time info attached for the reasoner, probably we rather update the QA value for the FG, rather than append a new value to a list.
[code]

Also:
- [x] ~~All values printed are the same~~ > not the case
https://github.com/rosin-proj

[2020-05-13 09:20] chcorbato opened #25 "Adaptation is not triggered with qa individuals"
The rule in `tomasys.owl` is:
**if** `fg.qa.value` **<** `obj.nfr.value`
**then** `obj` in `INTERNAL_ERROR`

`nfr.value` = 1.5 https://github.com/rosin-project/mros1_reasoner/blob/382f4a0fae4233aaf79ff3a876cd8cc508d58bbe/mros1_reasoner/scripts/init_models.py#L49

updated QA energy values for fg (* for those above nfr value):
FG Statuses:
`fg_nav_fast      None    [('obs_energy_1', '0.20000000298')

[2020-05-13 10:02] chcorbato commented on #25
There is no problem, it is simply that the rule is

**if** `fg.qa.value` **<** `obj.nfr.value`
**then** `obj` in `ERROR`

However, the values coming from diagnostics need to be **normalized**
[code]

[2020-05-13 12:30] chcorbato commented on #25
@darkobozhinoski are you finally going to normalize safety and energy QA Observations?
I am not sure whether you do it in the `Observer` or I do it in the `mros1_reasoner`

[2020-05-13 12:43] darkobozhinoski commented on #25
@chcorbato I can do it. Is it ok to normalize according to the following formula:
0.9*normalized_current_speed+0.1_normalized_control_frequency?
Same formula I am using to calculate energy in the configuration space.

[2020-05-13 15:44] chcorbato commented on #25
That is ok.
For the moment I did not implement top-bottom thresholds semantics in `tomasys`, but simply added a case for the `energy` and `safety` cases in the selection of configurations in mros1_reasoner.py
https://github.com/rosin-project/mros1_reasoner/blob/5263ad6da4a7507754caf6dbf0068e774c223b65/mros1_reasoner/scripts/mros1_reasoner.py#L97-L102

[2020-05-13 15:44] #25 closed

[2020-05-13 15:45] chcorbato commented on #24
This does not seem to be an issue for the adaptation, so for the moment `wontfix`

[2020-05-13 15:47] chcorbato commented on #21
Done in 5263ad6da4a7507754caf6dbf0068e774c223b65 and
https://github.com/rosin-project/mc_mdl_tomasys/tree/mvp
https://github.com/rosin-project/mc_mdl_abb/tree/mvp

[2020-05-13 15:47] #21 closed

[2020-05-14 08:36] marioney opened #26 "Avoid using a separate ws with manual ROS compilation for Python3"
Create a singularity image with ROS Melodic version with Python3  to avoid creating a virtual environment.

[2020-05-14 23:25] darkobozhinoski commented on #10
On the following [link](https://docs.google.com/spreadsheets/d/12aB35Jj4qmarIq3OWHocATmnDfUa6ftp_j09W5twy1g/edit#gid=2104572098) we present the connection between a configuration (FD) and a Quality attribute.

[2020-05-18 09:49] chcorbato commented on #10
@darkobozhinoski @marioney

For each `FD/configuration` I need (to be estimated form https://github.com/rosin-project/metacontrol_sim/issues/26):
- [ ] `name`
- [ ] `QA_safety_expected_value`
- [ ] `QA_energy_expected_value`
- [ ] `QA_expected_utility`

[2020-05-19 14:57] marioney commented on #10
The estimated values are available in [this spreadsheet](https://docs.google.com/spreadsheets/d/12aB35Jj4qmarIq3OWHocATmnDfUa6ftp_j09W5twy1g/edit#gid=1541039955)

From the raw data it should be possible to estimate the `QA_utility`

[2020-05-20 07:22] chcorbato opened #27 "Automatic generation of owl file from RosModel"
Using the RosModel model files of the system as input, a python script could automatically generate the .owl file for the metacontrol.

Such script requires similar resources to the `mros1_reasoner.py` (the metacontrol), that is why I placed a skeleton for such a script in this repository:
https://github.com/rosin-project/mros1_reasoner/blob/rosmodel2owl/mros1_reasoner/scripts/rosmodel2owl.py

The

[2020-05-20 11:16] ipa-nhg commented on #27
Some pointers from me:
Input files: https://github.com/rosin-project/rosin-experiments/tree/master/metacontrol_models_experiment/MoveBaseConfigurations (all the .rossystem files)

If we check a concrete example file (f1_v1_r1.rossystem):

[code]
 We need to extract only the information marked with '**' and use this information to replace the variables "name_of_RosSystem" , "name_of_RosSystem_param

[2020-05-20 12:08] chcorbato commented on #27
That is right!

[2020-05-20 12:10] ipa-hsd commented on #27
Had a meeting with @ipa-nhg and she explained me what to do. I will come up with a script. @chcorbato probably we can sync later today for changes.

[2020-05-20 12:36] chcorbato commented on #27
Perfect!
@ipa-hsd I'm fully available, just let me know what works better for you to sync (here, hangouts, jitsi, skype...)

[2020-05-20 13:48] chcorbato opened #28 "desired_configuration needs to be sync between metacontrol nodes"
The metacontrol MAPE-K elements need to sync on what is the desired configuration at each time:
- [x] `ros_graph_parser` (and [`rosgraph_monitor`](https://github.com/rosin-project/rosgraph_monitor)? ) use it to know what .rossystem to compare with the one extracted from the rosgraph => not needed now, see [below](https://github.com/rosin-project/mros1_reasoner/issues/28#issuecomment-631580645)
- [

[2020-05-20 16:13] ipa-nhg opened #29 "Error executing the reasoner when the observers are loaded"
I get the following error:

[code]

I am pretty sure I have to load somewhere a model (owl?) that set the target/objective, or maybe set the information manually but I don't know where

## STEPS TO REPRODUCE THE ISSUE:

### Installation:

#### mros1_resoner
I followed: https://github.com/rosin-project/mros1_reasoner/tree/mvp
plus:
[code]
#### metacontrol_sim
I followed: https://github.com/rosin-pr

[2020-05-20 16:22] ipa-nhg commented on #28
to me the best solution will be to set a new parameter to publish (from the metacontrol, right?) the new desired configuration. For example:

`rosparam set /current_configuration "f1_v1_r1" `
(obviously from code and not from command line)

Here is not needed. We can't modify dynamically the `desired.rossystem` that the `rosgraph_monitor` takes as input. The main purpose of the `rosgraph_monitor`

[2020-05-20 16:25] marioney commented on #29
I think that's the error, try  adding the onto argument to the reasoner launcher

### Execution:
[code]
The observers should be activated by default with the `MVP_metacontrol_world.launch` launcher.

[2020-05-20 16:59] ipa-nhg commented on #29
thanks @marioney , now looks much better :tada:
I still get an error because of the name of the configurations, but it is related to my version of the rosgraph_manipulator which  needs this changes: https://github.com/rosin-project/mros1_reasoner/issues/27

Could you please update the README of this repo to indicate how to parse the OWL file?? thanks!

[2020-05-20 16:59] #29 closed

[2020-05-20 17:10] marioney opened #30 "Update the README of this repo to indicate how to parse the OWL file"
Ontology file should be given as arg to the `run.launch` file

e.g.

`roslaunch mros1_reasoner run.launch onto:=mvp.owl`

[2020-05-20 17:19] gavanderhoorn commented on #30
It's off-topic, but `onto` sounds like a rather strange name for this arg.

Should it be `about` instead? You reason *about* something. Not onto.

[2020-05-20 20:24] chcorbato commented on #28
For the immediate future, I am very interested in being able to change it dynamically, in order for the metacontrol to manage the nodes on the fly, have a dynamic rosgraph (e.g. kill and launch new nodes as required by the mission goals)

[2020-05-20 20:25] chcorbato commented on #30
Agree `onto` sounds weird. I propose to change it to `ontology`

[2020-05-20 20:27] chcorbato commented on #29
That was my bad. I'll put it on my list.

[2020-05-20 23:00] chcorbato opened #31 "Metacontroller only considers the most recent QA values for reconfiguration"
The QAs values are received asynchronously:
https://github.com/rosin-project/mros1_reasoner/blob/0a8022676b597f59fb8b6880f3d05955628f8643/mros1_reasoner/scripts/mros1_reasoner.py#L128

but the reasoner to decide if an adaptation is needed is executed sync:
https://github.com/rosin-project/mros1_reasoner/blob/0a8022676b597f59fb8b6880f3d05955628f8643/mros1_reasoner/scripts/mros1_reasoner.py#L193

as

[2020-05-21 07:14] chcorbato opened #33 "mros1_reasoner does not store qa values for FG properly in the KB"
The desired behavior is that **only one** value for each `QA type` is stored in the KB, and that value is continuously updated<sup>[1](#myfootnote1)</sup>

Example of desired printouts:
[code]
But we are getting this:
[code]
and apparently in some runs no energy value is associated to the FG (to be confirmed)

<a name="myfootnote1">[1]</a> _**Note:** this is not how ontologies are supposed to work

[2020-05-21 09:47] chcorbato opened #35 "Metacontrol is not triggering any adaptation"
Test performed:

### Test

Terminal 1:
[code]

OUTPUT
[code]

[2020-05-21 09:50] chcorbato opened #36 "Sometimes no QA values are received by mros1_reasoner"
## Context:
- all metacontrol monitoring input is sent via `/diagnostics` (probably not the best idea I ever had). This input is mainly messages about QA values for energy and safety
- in our system, `/ekf_localization` is also publishing in `/diagnostics`
- a callback in `mros1_reasoner` process these messages to update the KB (runtime ontology in memory)

## Problem
Sometimes no QA values at all

[2020-05-21 11:54] chcorbato commented on #36
A temporal fix could be to disable diagnostics for `/ekf_localization`, but is that possible?
I cannot find how, I do not see any ROS param for that in `/ekf_localization`
Ideas are welcome @marioney @ipa-hsd

[2020-05-21 12:03] chcorbato commented on #36
Found it! http://docs.ros.org/melodic/api/robot_localization/html/state_estimation_nodes.html?highlight=diagnostics#print-diagnostics
now I just need to find in our code where we launch `/ekf_localization` :smile:

[2020-05-21 13:26] chcorbato commented on #33
Fixed in 7717bcd77ecea96fde5ef58f8cb98420dc8a1890

[2020-05-21 13:26] #33 closed

[2020-05-21 13:46] gavanderhoorn commented on #36
Topics cannot be "jammed" actually.

What could happen is that buffers get full, but then I would expect *all* new messages to not make it into the queue.

Without looking into this in more detail -- and reproducing the setup -- there's not much more I can add I'm afraid.

[2020-05-21 15:41] chcorbato commented on #36
Maybe the messages from `/ekf_localization` are causing the buffer to get full, I guess that also affects `rostopic echo` ?

[2020-05-21 16:19] chcorbato commented on #35
Solved in de85b70e8de1c9a407e3b060d94e02fcade4b13f
needs:
https://github.com/rosin-project/mc_mdl_tomasys/commit/467a0bc2798072e557cb03fd63c9c8232683f300
https://github.com/rosin-project/mc_mdl_abb/commit/6c18df94b551a86f2461bcb852c806d9369ff5c4

[2020-05-21 16:19] #35 closed

[2020-05-21 16:22] chcorbato opened #37 "Problem finding the expected QA for FDs"
Testing with https://github.com/rosin-project/mros1_reasoner/commit/ddbb21d4ef6130bf280732ea9fede9daf1e9a0df
[code]

[2020-05-21 16:56] chcorbato commented on #37
There was no such problem.
The adaptation was not triggered due to expected QA values for FDs in mvp.owl

[2020-05-21 16:56] #37 closed

[2020-05-22 08:18] chcorbato opened #38 "Metacontrol loop takes around 1 sec?"
We are calling the reasoner synchronously because of this strong limitation.

The time can be checked observing the `rosout.info` by the `mros1_reasoner` node:

In this run with NO ADAPTATION needed it takes over **1 sec**
[code]
With ADAPTATION needed but crashed (edit issue to add the trace of a successful adaptation):
[code]

[2020-05-22 09:15] chcorbato opened #39 "RECONFIGURATION UNKNOWN issue running single exp script WITH metacontrol"
`mros1_reasoner` in 353c3bebab9e0a08e8a9d891e78f8f87dfe2ba0e

Command executed:
`./run_single_sim.sh -i 2 -g 2 -n standard -r true -p 1.3
`

[code]

[2020-05-22 09:21] chcorbato commented on #39
@marioney is there a way to preserve the terminal running `mros1_reasoner` so as to debug this more easily?

[2020-05-22 11:13] marioney commented on #10
The estimated QA values for all 27 configurations are now in this [spreadsheet](https://docs.google.com/spreadsheets/d/12aB35Jj4qmarIq3OWHocATmnDfUa6ftp_j09W5twy1g/edit#gid=1715992839)

[2020-05-22 11:29] chcorbato commented on #28
Agreed! I think we should name that rosparam `desired_configuration`, so as not to confuse it with the one the rosgraph_parser generates
- [ ] @marioney has an issue for metacontrol_experiments
- [ ] @chcorbato needs to do it for `mros1_reasoner`

[2020-05-22 11:34] marioney commented on #39
Sure Just add an sleep command before the `exit` in the ./run_single_sim.sh
[code]

[2020-05-22 12:40] chcorbato commented on #10
@marioney @darkobozhinoski which value do you think we should use as `FD.hasQAestimation` for each configuration?
The `avrg`? The `Max` or `Min`?

[2020-05-22 12:47] darkobozhinoski commented on #10
I think` Min for safety `and `Max for energy` would be the best.
`Avrg` can also fine.

[2020-05-22 12:54] chcorbato commented on #27
The transformation is running in 31def16, so I close this one.

[2020-05-22 12:54] #27 closed

[2020-05-22 13:36] chcorbato commented on #10
Let's go with this. I close this issue and create one to add add this values to our rossystem models  https://github.com/rosin-project/rosin-experiments/issues/12

[2020-05-22 13:36] #10 closed

[2020-05-22 14:03] chcorbato commented on #28
Since it is under control and there is one issue that will finalize the implementation of this, I close this "design issue"

[2020-05-22 14:03] #28 closed

[2020-05-22 16:36] chcorbato opened #40 "Could not start EnergyQualityObserver"
I will come back to check in detail, but this is happening to me all the time when I run:
`./run_single_sim.sh -i 2 -g 2 -n standard -r true -p 1.3`

[code]

[2020-05-22 20:41] chcorbato commented on #40
Does not seem to happen anymore...

[2020-05-23 06:02] chcorbato commented on #39
This has been solved now that all info is automatically loaded from the rossystem files,
- `mros1_reasoner` the autogen ontology file
- `rosgraph_manipulator` the autogen yaml file

[2020-05-23 06:02] #39 closed

[2020-05-23 06:04] chcorbato opened #41 "No suitable FD found for adaptation"
### CONTEXT
Packages in their most recent branches for MODELS paper: `mvp`, `master` or `observers`

**Experiment command:**
[code]

### OUTPUT
[code]

[2020-05-23 06:13] chcorbato commented on #41
Nothing is wrong, there is no FD with energy QA below 0.15
see https://docs.google.com/spreadsheets/d/12aB35Jj4qmarIq3OWHocATmnDfUa6ftp_j09W5twy1g/edit#gid=280179034

[2020-05-23 06:13] #41 closed

[2020-05-23 06:58] chcorbato opened #42 "Metacontrol selects configuration based on QAs AND expected performance"
In the MAPE-K PLAN step, the metacontroller should select, amongst the FDs that fullfi the energy and safety NFRs, the one with better performance.

That is, Utility function for the metacontrol (the one used for selection) could be:
U = QAperformance_expected

we could also consider to include QAenergy_expected and QAsafety_expected

[2020-05-23 07:41] darkobozhinoski commented on #42
I think the current utility looks good and reasonable.

If you want to include all three we might consider this one:
U = 0.7*QAperformance_expected + 0.2 QASafety_expected + 0.1  QAEnergy_expected
but I do not oppose the one mentioned in your comment.

[2020-05-23 08:23] marioney commented on #42
I also like this one, as safety and energy are requirements, I think we can leave them out of the utility

[2020-05-23 08:58] chcorbato commented on #42
Ok, let's leave it only with performance for the moment.

[2020-05-23 08:58] #42 closed

[2020-05-23 09:51] chcorbato opened #44 "Read NFRs from rosparams in mros1_reasoner"
param names:
[code]

[2020-05-23 09:55] chcorbato opened #45 "Add rospy.logerror() messages in mros1_reasoner to chatch debug info in log files"

[2020-05-23 10:47] chcorbato commented on #44
Done 6f12f038829a57270b8c27d715320435927c2ada

[2020-05-23 10:47] #44 closed

[2020-05-23 10:47] chcorbato commented on #45
Done d917ff35cd5647e7a3d3410dea2ea7f70c28ffc2

[2020-05-23 10:47] #45 closed

[2020-05-23 11:05] marioney commented on #45
Also solved from `metacontrol_experiments` in https://github.com/rosin-project/metacontrol_experiments/commit/475706766a58d5dfe8be953b4e66e5aafabcd3ea

[2020-05-23 11:32] marioney opened #46 "Error in log? - Maybe caused by rospy.logerr"
It seems to be an error in printing the log

[code]

After this the reasoner basically stops working

[2020-05-23 11:47] marioney commented on #46
I've fix those in https://github.com/rosin-project/mros1_reasoner/pull/47

@chcorbato can you check it and merge them to `mvp`

[2020-05-23 11:59] #46 closed

[2020-05-23 12:08] chcorbato opened #48 "Reasoning error"
Something did not go well, probably inconsistency in the ontology.
When this error is triggered I'm saving the ontology in `~/.ros/error.owl`, so I will inspect it with Protege to check what happened.

### TEST
[code]

### OUTPUT
[code]

[2020-05-23 12:16] chcorbato commented on #48
The ontology is coherent and consistent, so I'll need to check what is happening with the reasoning
:worried:
![Screenshot from 2020-05-23 14-15-38](https://user-images.githubusercontent.com/9592617/82730442-01900d00-9d00-11ea-922e-8471237e8e11.png)

[2020-05-23 12:24] chcorbato commented on #48
It could be due to the `callbackDiagnostics` iasserting new facts during reasoning in `timer_cb`
Maybe we can live with this problem, since the wellformedness of the ontology does not seem affected (see previous comment)

Some additional **OUTPUT** that can be relevant:
[code]

[2020-05-23 12:30] chcorbato commented on #48
The problem is that I'm asserting a new FG with a name that cannot be mapped to incoming QA diagnostics:
[code]

[2020-05-23 12:30] gavanderhoorn commented on #48
that would be concurrent write access to shared resource. As `rospy` uses separate threads for timers and subscriptions, either use a (lockless) queue or properly write-lock the shared resource.

[2020-05-23 12:38] chcorbato opened #49 "ERROR: FG not found when received QA observation"
### TEST
[code]
### OUTPUT
[code]

[2020-05-23 12:48] chcorbato opened #50 "Remove reasoner output from terminal"
The Pellet reasoner called with owlready2 produces and output that is annoying when debugging (see below)
I could not figure out how to remove it from the output. Owlready2 documents do not explain how to handle that
I tried this to temporarily remove it form the `stdout`, but it did not work.

Any ideas are welcome @gavanderhoorn @ipa-hsd @ipa-nhg @marioney

https://github.com/rosin-project/mros1

[2020-05-23 12:54] chcorbato opened #51 "Missing to reconfigure despite Observed qa_energy above threshold for some messages"
This is related to the current architecture of the `mros_reasoner` (see discussions [1](url) and [2](https://github.com/rosin-project/mros1_reasoner/issues/48#issuecomment-633042731)), that is:
- async reception of input data
- sync execution of the reasoning with that data (only most recent value)

I propose to keep the highest value received on each `timer_cb` cycle for reasoning

@marioney @gav

[2020-05-23 13:04] chcorbato commented on #40
See https://github.com/rosin-project/metacontrol_sim/issues/41

[2020-05-23 13:04] #40 closed

[2020-05-23 13:10] gavanderhoorn commented on #50
[How can I control logging messages printed by Pellet?](https://github.com/stardog-union/pellet/wiki/FAQ#how-can-i-control-logging-messages-printed-by-pellet)

[2020-05-23 16:36] marioney commented on #49
I think the problem is the `grounded_configuration` variable, is set at the beginning but is never updated when there's a reconfiguration.

[2020-05-23 16:41] marioney commented on #49
That's solved in https://github.com/rosin-project/mros1_reasoner/pull/52

[2020-05-23 17:19] chcorbato commented on #49
I think I fixed this in 8de2e484650154245ed1eae0efebaa9ee711fe1b, see my comment in the pull request.

[2020-05-23 17:19] #49 closed

[2020-05-23 17:38] marioney commented on #48
I've added a `lock` for the resource on https://github.com/rosin-project/mros1_reasoner/pull/52/commits/8cba195175fadc5ad56ba822b7373901a94599fe

[2020-05-23 17:58] #48 closed

[2020-05-23 17:59] chcorbato commented on #48
It seems to solve the issue for me. I closed it.

[2020-05-23 18:18] marioney opened #53 "Should the metacontroller performs only 1 reconfiguration?"
Seems that reconfiguration is launched only once per experiment.

For instnce, I'm running

`./run_single_sim.sh -i 1 -g 1 -n f3_v3_r3 -r true -p 2.0 -e 0.8  -s 0.4`

There's a reconfiguration due to safety at the beginning, but even if the `nfr_energy` is not meet at the end of the experiment, there's no reconfiguration launched

@chcorbato  is this expected?

[2020-05-23 18:21] chcorbato commented on #53
No, this is not expected, something is going on, I'll take a look.

[2020-05-23 18:28] marioney commented on #53
Actually it's switching to `f1_v3_r1` which is strange because that one doesn't meet the safety requirements

[2020-05-23 19:01] chcorbato commented on #50
It was very promising, but I am not familiar at all with java logging and I could not follow the pointers:

- sample `configuration,examples/logging.properties` -> I could not find it

-> link not working anymore

[2020-05-23 19:24] chcorbato commented on #53
I cannot reproduce the case, for me no adaptation was triggered :disappointed:

[log_Metacontrol_sim_23-21_16_39.zip](https://github.com/rosin-project/mros1_reasoner/files/4672401/log_Metacontrol_sim_23-21_16_39.zip)

[2020-05-23 20:40] chcorbato opened #54 "FD selected that does not meet the NFR threshold"
Actually it's switching to `f1_v3_r1` which is strange because that one doesn't meet the safety requirements

_Originally posted by @marioney in https://github.com/rosin-project/mros1_reasoner/issues/53#issuecomment-633112222_

[2020-05-23 20:50] chcorbato commented on #54
fixed in https://github.com/rosin-project/mros1_reasoner/commit/094c04ac99c09c55009216dd13bbc657a8bdeb81

[2020-05-23 20:50] #54 closed

[2020-05-23 21:00] chcorbato commented on #51
related to https://github.com/rosin-project/mros1_reasoner/issues/48#issuecomment-633042731
I change to wontfix the issue thanks to Mario's fix with a lock 8cba195 see https://github.com/rosin-project/mros1_reasoner/issues/48#issuecomment-633102711

[2020-05-23 21:06] chcorbato commented on #53
fixed in #54

[2020-05-23 21:17] chcorbato commented on #53
I keep testing this case because it is weird that for me adaptation is not triggered.
energy threshold is violated sometime, but maybe the metacontroller is skipping those due to its freq (2secs). Although not probable because on the time stamp I see more than 2sec above threshold (at least 3-4 the first time) 😕

[2020-05-23 21:20] chcorbato commented on #53
I am missing the `safety` reconfiguration

@marioney could this be because in my laptop the experiment runs slower? Maybe the robot do not get enough speed to result in low safety score

[2020-05-23 22:57] chcorbato commented on #53
I've been testing this only with the `mros1_reasoner` and mock inputs.
- As you mention, there is no 2nd reconfiguration, even if the `qa_energy` is above `nfr_energy`
- To check what is going on, I've saved the owl file that contains the KB after I force qa_energy observed 0.8 and inspected it with Protege. This is what I found
  - In the KB, the `fg_f1_v2_r1` is updated with qa_value 0.8 (the va

[2020-05-23 23:29] chcorbato commented on #53
Mystery solved!! not exactly a "refreshing" but close. Reasoner inferences are put in a special ontology, which I guess makes those facts "disappear" for the next run of the reasoner (see [explanation in owlready2 doc](https://pythonhosted.org/Owlready2/reasoning.html#running-the-reasoner))
so fixed in 38d08ac632398d8c835bdef0f330d51455103675

Please check @marioney and close the issue

[2020-05-24 11:06] chcorbato commented on #53
@marioney when running experiments with metacontrol, check if in some more than 2 adaptations are performed and close this issue if you think it is ok

[2020-05-24 12:56] marioney commented on #53
I just confirm that 2 adaptations are executed !!!

[2020-05-24 12:56] #53 closed

[2020-07-30 09:15] chcorbato opened #55 "Remove dependency on https://github.com/rosin-project/mc_mdl_abb.git"
- [ ] Create example of metacontrol use in the same repository like in System Modes (preferably a separate package). These requires:
- [ ] minimal rosgraph (either dumb node(s)) or launchfile using other repos (not preferred, since will add more dependencies)
- [ ] owl file with the model of the minimal example

[2020-08-04 11:52] ipa-hsd commented on #22
Could [this](https://github.com/ipa-hsd/mros1_reasoner/blob/e67ae46203b805bc571e8d4034d29782d3ca149a/mros1_reasoner/scripts/mros1_reasoner.py#L428-L436) be a possible solution?

[2020-08-04 14:47] chcorbato opened #56 "move metacontrol repo (root) on github https://github.com/organizations/tud-cor"
transfer ownership of the repository so it is maintained later in the CoR github organization

[2020-08-04 15:03] chcorbato commented on #22
SPARQL queries are definitively a possible solution to implement
- fault diagnosis
- configuration selection
and maybe more

[2020-08-04 15:12] chcorbato opened #57 "fork the root repo for MROS project (replace current metacontroller repo)"
https://github.com/MROS-RobMoSys-ITP/metacontroller contains parallel development to this repo (could be a branch, but unfortunately I started it from scratch).

**Goal**: I would like to merge both repos (in this one), preserving file history and also the issues (unfortunately, there is quite some issue history in both repos, although we could lose the one in https://github.com/MROS-RobMoSys-ITP/

[2020-08-04 15:12] chcorbato opened #58 "Create self-contained example"
scenario testing the metacontrol itself: something like the SystemModes example.

[2020-08-04 15:13] chcorbato opened #59 "Clean up branches"

[2020-08-04 15:14] chcorbato opened #60 "List required repos"
List of minimally required repos
- check dependency on metacontrol messages (interfaces)
- architectural analysis of metacontrol

### **Required Metacontrol Repositories:**

- [mros1_reasoner ](https://github.com/rosin-project/mros1_reasoner/tree/mvp) - A meta-controller implementation for ROS1
- [mc_mdl_tomasys](https://github.com/rosin-project/mc_mdl_tomasys/tree/mvp)  - OWL implementation of th

[2020-08-04 15:14] chcorbato opened #61 "Update the instructions to use the reasoner node for metacontrol in the README"
- [x] First we need to complete refactoring.
Related to #72 and #60

[2020-08-04 15:14] chcorbato opened #62 "Lightweight demo"
Lightweight demo: now it is too resource consuming (gazebo, etc)

[2020-08-05 09:46] chcorbato opened #63 "Clean up branches MODELS paper"
- [x] mros1_reasoner -> #59
- [x] mc_mdl_tomasys
- [x] metacontrol_nav
- [x] metacontrol_sim
- [x] metacontrol_experiments
- [ ] rosin-experiments -> https://github.com/rosin-project/rosin-experiments/issues/16
- [x] metacontrol_msgs
- [x] mc_mdl_abb

[2020-08-05 09:59] chcorbato commented on #60
I think we should add the required repos in https://github.com/rosin-project/metacontrol_experiments
since that is the base repo to run the experiments for the MODELS paper

[2020-08-05 10:02] chcorbato opened #64 "Create a tag and/or branch for the Cheops experiments"
The goal is to identify the version of the code we ran in Vasteras and add minimal documentation (REAADME) to eventually be able to reproduce it.

[2020-08-05 11:21] chcorbato commented on #60
A candidate list of repositories can be found in #63

[2020-08-05 11:51] darkobozhinoski opened #65 "Objective in Error"
ObjectiveError if I run a single run in the metacontrol experiments:

`./run_single_sim.sh -p 1 -g 2 -n "f1_v1_r1" -o 2 -r "true" -p 1.2`

Same happens if I run only the reasoner: `roslaunch mros1_reasoner run.launch onto:=kb.owl`
![ErrorObjective](https://user-images.githubusercontent.com/8318517/89409686-bf813f80-d722-11ea-9829-8636b19e10c6.png)

[2020-08-05 12:27] darkobozhinoski commented on #60
Required Metacontrol Repositories:

[mros1_reasoner ](https://github.com/rosin-project/mros1_reasoner/tree/mvp) - A meta-controller implementation for ROS1
[mc_mdl_tomasys](https://github.com/rosin-project/mc_mdl_tomasys/tree/mvp)  - OWL implementation of the TOMASys metamodel
[metacontrol_msgs](https://github.com/rosin-project/metacontrol_msgs) - ROS message types for metacontrol
[mc_mdl_abb](htt

[2020-08-05 12:33] chcorbato commented on #60
Please, indicate what repo is needed to create the configurations for a different system/experiment

[2020-08-05 12:35] chcorbato commented on #60
Do you mean that the test can be done **without** _ROS Graph Monitor and QA observers._, or they are required both for the tests and the paper experiments?

[2020-08-05 12:44] darkobozhinoski commented on #60
@chcorbato , yes, I updated the content. I added the repo that allows generation of new configurations.
I mean that to test the metacontroller you need only the observes and the ros graph monitor. To make it clear, I added this repo in the deployment of the whole setup.

[2020-08-05 13:02] chcorbato commented on #60
You can test it without them, you just need to publish test messages in the topics they do,  e.g. using `rostopic pub`

[2020-08-05 14:09] chcorbato opened #66 "move rosgraph_manipulator to a separate repo"
- [ ] Issue in https://github.com/rosin-project/metacontrol_sim/issues/42

[2020-08-05 14:48] chcorbato opened #67 "Transfer https://github.com/rosin-project/mc_mdl_tomasys to https://github.com/tud-cor (where all metacontrol upstreams will be)"

[2020-08-05 14:53] chcorbato commented on #65
Looks like the metacontroller is not getting or updating the QA values from the observers (if they are published):
``

[2020-08-05 15:10] chcorbato opened #68 "update `master` branch for metacontrol_sim"
Currently is behind MVP_world

[2020-08-05 15:11] darkobozhinoski commented on #65
@chcorbato, do you face the same issue?

[2020-08-05 15:43] chcorbato commented on #65
Yes, I get exactly the same that you posted here.

[2020-08-06 07:59] chcorbato opened #69 "Update mros1_reasoner.rosinstall"
Update `mros1_reasoner.rosinstall` to use the correct branches.
Suggestion is (in melodic branch):

- git:
    local-name: mros1_reasoner
    uri: https://github.com/rosin-project/mros1_reasoner.git
    version: melodic
~~- git:
    local-name: metacontrol_msgs
    uri: https://github.com/rosin-project/metacontrol_msgs~~
- git:
    local-name: mc_mdl_tomasys
    uri: https://github.com/rosin-proje

[2020-08-06 09:30] chcorbato opened #70 ""[ERROR] [1596705474.784651]: Objectives in error:" should not be reported as a ROS ERROR"
This is normal,  expected operation of `mros1_reasoner`, so it should be a ROSINFO output

[2020-08-06 10:16] marioney commented on #65
Seems like is working for me.

The `objetives in error []` message.  Should not be in red, it's just that all objectives are OK.

If I run this

`./run_single_sim.sh -p 1 -g 2 -n "f1_v2_r2" -o 2 -r "true" -p 1.7`

I get a good run, with a successful reconfiguration.

[2020-08-06 10:56] chcorbato commented on #65
@marioney can you please add documentation of the expected result? https://github.com/rosin-project/metacontrol_experiments/issues/13

[2020-08-06 11:38] darkobozhinoski commented on #65
@marioney , can you share a list of active topics. I publish all relevant topics relevant information for energy and safety. However, /obj_error is also active.
This is the list of topics that are published:

[code]

[2020-08-07 13:40] chcorbato commented on #70
Fixed by #71

[2020-08-14 12:42] #56 closed

[2020-08-14 14:52] #67 closed

[2020-08-14 15:03] chcorbato opened #72 "Create instructions to install and run the MODELS20 submission experiments"
- [ ] Select repo where to place them (could be multiple)
- [ ] Crete instructions
- [ ] Verify instructions

[2020-08-21 13:49] chcorbato opened #73 "Remove dependency on mc_mdl_abb"
https://github.com/tud-cor/mc_mros_reasoner/blob/2d1e303a157dc8cec23faf59fd64a70b81259da4/mros1_reasoner/scripts/mros1_reasoner.py#L57

[2020-08-26 09:29] marioney commented on #68
The MVP_world has been merged in https://github.com/rosin-project/metacontrol_sim/pull/48

@chcorbato  Do we need to update anything else?

[2020-08-26 12:13] chcorbato commented on #68
Looks complete to me: #63
We need to check with Nadia about the repo `rosin-experiments`

[2020-08-26 12:13] #68 closed

[2020-08-28 15:56] chcorbato opened #75 "mros_reasoner - ROS1 reconfiguration interface"
The interface is through the MvpReconfiguration Action in the [metacontrol_msgs](https://github.com/rosin-project/metacontrol_msgs)

I propose to define that interface (probably again through an action message) in the mc_mros_reasoner repository

[2020-09-01 11:52] marioney commented on #26
This idea is not at good option so we can discard it.

I'm starting to test the [catkin_virtualenv](https://github.com/locusrobotics/catkin_virtualenv) and it seems promising, but it requires further testing.

[2020-09-02 07:21] chcorbato commented on #60
@darkobozhinoski any update on this issue? Is there anything pending?

[2020-09-02 09:59] chcorbato opened #76 "move expected_qas.csv to metacontrol_experiments repo"
This file provides the QA expected values for certain FD
This is part of the application or system model
Therefore it should go in the repo that contains the application models.
For the MODELS20 submission I think we can use the metacontrol_expriments.
Note that this is used by the script rosmodel2owl.py
so a change is needed there in ln 55 (opening the sv file)

[2020-09-02 13:20] chcorbato opened #77 "reasoner should update FDs expected QAs levels from QA Observers"
This is needed ot integrate @

Option 1: extend current interface
we need to extend the info about QA send through diagnostics so that we can indicate which FD needs to be updated

[2020-09-02 13:27] chcorbato commented on #77
@JWijkhuizen @darkobozhinoski what information does the QA Observer needs from the KB to annotate the QA value sent to metacontrol (e.g. name of the configuration?)

[2020-09-02 13:54] chcorbato opened #78 "Implement update of FG bindings (status of a configuration)"
https://github.com/tud-cor/mc_mros_reasoner/blob/400ac0676e72d5aeee4de054db4ec35957007e33/mros1_reasoner/scripts/mros1_reasoner.py#L199-L209

[2020-09-02 14:14] JWijkhuizen commented on #77
I think only the name, or nothing at all. The QA Observer can just send the updated QA values of all the configurations which are in the quality model.

[2020-09-02 14:21] chcorbato commented on #77
We need at least:
- the name of the FD (configuration), if the mros_reasoner only gets a number there is no way it can know to what configuration to associate that number
- the name of the QA, so that we store it for safety or for a different QA

[2020-09-02 14:28] chcorbato opened #79 "separate reasoner interfaces from ROS implementation"
## Interfaces:
- to update KB from monitoring (update FG status, update FG and other FDs QA values)
- to reconfigure: deploy a different FG

Is it an idea to use Python dictionaries as a way to decouple reasoner platform agnostic interface methods from its implementation in received or send ROS messages or service and action calls.

So the reasoner library has methods tat take as input Python dict

[2020-09-02 14:29] JWijkhuizen commented on #77
Yes that is what the QA observer publishes in the /diagnostics topic, right? The name of the configuration, the name of the QA and the predicted QA value are all outputs of the quality model.
I think the QA observer only needs the name of the current configuration, so it can output the prediction of all the other configurations(So it knows which configuration to skip). To avoid that the predicted

[2020-09-02 15:03] chcorbato commented on #77
@JWijkhuizen do you have a different equation for each configuration?
How do you compute the QA value expected for a particular configuration?

[2020-09-02 15:10] chcorbato commented on #73
Fixed by 17722a3adfb8f6666fab204b536fd81894228630 and also then 60b5f1e90d400a0ee98f4d7ad3f3c2c667567265 to remove the exec dependency of the package.

[2020-09-02 15:10] #73 closed

[2020-09-03 06:40] chcorbato opened #80 "load OWL file using absolute path"
This is implemented in 17722a3adfb8f6666fab204b536fd81894228630
Rationale: be able to load OWL files located in other packages. This is desired since the OWL contains the KB that is application specific, and therefore should not be in mros_reasoner repo

This causes the script to fail for the MODELS20 experiments, see https://github.com/rosin-project/metacontrol_experiments/issues/16
- [x] changes

[2020-09-03 07:09] JWijkhuizen commented on #77
Yes right now I have a different model for each configuration. I still have to research the possibility to have them all in the same model. What do you think is easier for the implementation?

[2020-09-03 07:15] chcorbato opened #81 "FG not found error test MODELS20"
commit df76904bb6e2b5f78eefe65c5e406ed6efc0f454

[2020-09-03 07:24] chcorbato commented on #77
Is each model a different Python/Tensorflow/Pytorch object?
Please document that and also your previous answer in detail (or point to that par of your document if you already have it), so that anyone can understand how it works for theoretically and implementation wise.

[2020-09-03 07:35] chcorbato opened #82 "Create and automate tests"
We need to create tests to ease the refactoring and eventually future developments of mros_reasoner
How should we do it @gavanderhoorn @marioney ?
Do we start with [code-level Python unit tests](http://wiki.ros.org/unittest#Code-level_Python_Unit_Tests) and then [node level testing](http://wiki.ros.org/unittest#ROS-Node-Level_Integration_Tests)?

[2020-09-03 07:45] JWijkhuizen commented on #77
I do not have a detailed documentation yet in my thesis. I will work on that in the coming days I think.
I updated my previous comment with more information

[2020-09-03 07:46] chcorbato opened #83 "[WARN] [1599118979.033952]: Unsupported QA TYPE received: objetive_error"
commit: df76904bb6e2b5f78eefe65c5e406ed6efc0f454 (melodic branch)

test MODELS20:
`./run_single_sim.sh -p 1 -g 1 -n "f1_v2_r2" -o 2 -r "true" -p 1.7 -c "false"
`

TODO
- [ ] Analyze issue in detail, this is just a reminder for @chcorbato

[2020-09-03 07:49] gavanderhoorn commented on #83
Suggestion: include a verbatim copy-paste of "all" output, not just a single line.

Context can be important when trying to diagnose these sort of issues.

[2020-09-03 08:00] chcorbato commented on #83
Thanks for the reminder. I normally do, but I have so many prints in `mros_reasoner.py` that it is a mess. Tthis corresponds to a feature not implemented, so this is simply a reminder for me.

[2020-09-03 08:23] JWijkhuizen commented on #77
Right now I have 3 Observers implemented using the rosgraph_monitor, the same method as the safety observer that Darko implemented. (And a 4th one for Performance, but this one is not relevant for this issue)
Observers:
- Safety
- Narrowness
- Obstacle Density
Narrowness used the /front/scan Laserscan topic. Obstacle Density uses the local_costmap topic.

I think that it will be easier to have two

[2020-09-03 08:37] chcorbato commented on #81
Fixed by 91bab265589faab87a2bb4f4e721d71501da4028

[2020-09-03 08:37] #81 closed

[2020-09-03 08:56] darkobozhinoski commented on #77
@JWijkhuizen , I am wondering if it is needed to observe the values of all configurations at all time.
Initially, the observer role was to investigate the  characteristics of the current configuration, while the role of the reasoner is to compute if there should be a switch. Taking that in consideration, is it possible to publish only the value of the current configuration, while the environmental

[2020-09-03 09:07] marioney commented on #83
I think this error comes from an additional observer we added before.  It's solved in https://github.com/rosin-project/metacontrol_sim/commit/9fe54db8af7ac01005fc74e09155eb85e9454ecd

[2020-09-03 09:16] chcorbato commented on #77
what do you mean by "characteristics"?

what value?

- atm the OWL reasoner cannot use the density and narrowness metrics for anything, it can only reason using safety, performance and energy values
- for the reason above, I think the use of density and narrowness metrics to compute safety is better done outside of mros_reasoner, in an observer
- the question is how to architect that observer:
  -

[2020-09-03 09:20] chcorbato commented on #83
That is the case. Thanks @marioney

[2020-09-03 09:20] #83 closed

[2020-09-03 09:28] JWijkhuizen commented on #77
I think it makes sense to have the observers only observe, and have a node in the analyse part (from the mape-k point of view) predict the safety levels of the other configurations using the environment measures from the observers.
This node in the analyse part can either be a new node,
or this can be the mros_reasoner(I think only 1 or 2 extra functions are needed).

But, maybe it is not desired

[2020-09-03 09:53] darkobozhinoski commented on #77
What I mean is investigating runtime values for safety, energy etc. In this context, it is the computed value for safety between 0 and 1 which is different than the expected value.

What I mean here is the quality value computed at runtime (in this context safety). This means using the same interface of the observers.

I was thinking here in a long term the values of each configuration can be upda

[2020-09-03 09:55] chcorbato commented on #77
Sounds reasonable to me. But note that MAPE-K does not suggest that each step should be performed by a separate node.
If we want to decouple the steps (e.g. because we can exchange different monitors, and different analyzers) then one way to implement that decoupling is using separate ROS nodes, as you suggest. So, if the narrowness and density metrics can be potentially used by processes differen

[2020-09-03 10:34] chcorbato commented on #77
If it is upon request, that node could implement a service that the mros_reasoner calls to received updated info about the QAs of the configurations.

[2020-09-03 12:00] chcorbato opened #84 "Standalone tests"
To test the metacontrol reasoner, we create "standalone" tests in `mc_mros_reasoner` pkg that only use:
- the reasoner node `mros1_reasoner.py`
- OWL files to load the KB
- monitoring input, mocked with diagnostic messages
(no reconfiguration infrastructure required).

`mros1_reasoner.py` is validated in each of the following tests by:
- successful run of the the MODELS20 experiments single script

[2020-09-07 10:40] chcorbato opened #86 "Do not force parameters in the global scope / use absolute parameter names. This makes it impossible to namespace this `.launch` file."
Please do not force parameters in the global scope / use absolute parameter names. This makes it impossible to namespace this `.launch` file.

_Originally posted by @gavanderhoorn in https://github.com/tud-cor/mc_mros_reasoner/pull/85#discussion_r484345340_

[2020-09-07 10:41] chcorbato opened #87 "I still get confused by this `onto` ("what is this *onto* on?")."
I still get confused by this `onto` ("what is this *onto* on?").

Out-of-scope for this PR, but I'd suggest to rename to `ontology`.

_Originally posted by @gavanderhoorn in https://github.com/tud-cor/mc_mros_reasoner/pull/85#discussion_r484345113_

[2020-09-07 11:15] marioney opened #88 "Remove catkin_virtualenv from .rosinstall (after it's synced)"
We're waiting on the next sync of Melodic to have the 0.6.1 version of [catkin_virtualenv](http://repositories.ros.org/status_page/ros_melodic_default.html?q=catkin_virt ) available via apt.

After this, the catkin_virtualenv entry should be removed from [mros1_reasoner.rosinstall](https://github.com/tud-cor/mc_mros_reasoner/blob/master/mros1_reasoner/mros1_reasoner.rosinstall)

**Keep a look at h

[2020-09-07 11:50] chcorbato commented on #82
See #84 and #58

- [ ] later, unit tests can be created for the reasoner library.

[2020-09-08 09:51] chcorbato opened #89 "Sometimes diagnostic msgs with QA values are not received by reasoner"
This is the observed behavior, the FG QAvalues remains empty [] in the reasoner output during the execution of:
` ./run_single_sim.sh -p 1 -g 1 -n "f1_v2_r2" -o 2 -r "true" -p 1.7 -c "false"
`

[code]

[2020-09-08 14:08] JWijkhuizen commented on #77
I now have created the node for this.
This node:
- Has a /load_model service, to load the models which are located in the metacontrol_move_base_configurations repository
- Listens to the /diagnostics topic for the updates about the Environment metrics.
- Has a /qa_update service, so the reasoner can request updates of the QA's of all the configurations.
https://github.com/JWijkhuizen/mros_quality_

[2020-09-08 14:28] chcorbato commented on #89
This happens to me very often, but I have not been able to figure out how to reproduce it.
Does this happen to you too @marioney ?

[2020-09-08 14:33] chcorbato commented on #77
I am working on fixing issues with the reasoner, I can come back to this as soon as that is fixed, hopefully by Friday.

[2020-09-09 06:45] chcorbato opened #91 "[ARCH] Maintain list of named entities for metacontrol: monitoring, reasoning and reconfiguration"
The metacontrol consists of three main separate processes/components/nodes
- monitoring: multiple nodes: `rosgraph_monitor`, multiple `QA Observer` nodes
  - sends information about the running configurations (FGs) and other available configurations (FDs, Jasper)
- `mros_reasoner.py` node (maintains part of the KB in an ontology)
- rosgraph_manipulator.py` node, performs reconfiguration actions ov

[2020-09-09 06:47] chcorbato commented on #78
See #84

[2020-09-09 06:47] #78 closed

[2020-09-09 07:30] chcorbato opened #92 "QA update does not look for the configuration name in the ontology individuals"
**Test 2** QA reception in #84

Outcome (wrong):
[code]

[2020-09-09 07:37] chcorbato commented on #92
Fixed in ad3b30c1b150746ec6d0b92102d213373027c708 by matching te incoming message `diagnostic_status.name` with the names of the fgs in the KB

[2020-09-09 07:37] #92 closed

[2020-09-09 08:36] chcorbato opened #93 "Failed build test_catkin_virtualenv in branch vritual_env (#85)"
(in relation to #85 )
Following the instructions in https://github.com/tud-cor/mc_mros_reasoner/blob/virtual_env/README.md
I get this error:
[code]

[2020-09-09 08:47] chcorbato commented on #93
Update on potentially missing dependencies:

[code]
and installing dependencies:
[code]

But still something missing when building the ws:
[code]

[2020-09-09 08:49] chcorbato commented on #93
Maybe this is the problem @marioney ?

[2020-09-09 08:55] chcorbato commented on #93
after
`sudo apt install python3-testresources`

I have compiled the ws with 2 warnings on `test_catkin_virtualenv` and `test_catkin_virtualenv_inherited`:
[code]

[2020-09-09 10:26] gavanderhoorn commented on #93
I don't believe @chcorbato intended for this to get closed when #85 was merged.

@chcorbato: *linking* a PR will close the linked issue when the PR gets merged.

[2020-09-09 11:20] chcorbato commented on #89
The problem seem to be in the messages tat should be published in `/diagnostics`:
[code]

[2020-09-09 11:36] marioney commented on #93
I've tested this

[code]

On a clean docker image and it works well, no errors or nothing.

 I think adding the `--ignore-src` in

 may cause some dependencies not to be installed

[2020-09-09 11:41] gavanderhoorn commented on #93
`-i` is the short form of `--ignore-src`.

[2020-09-09 11:50] chcorbato commented on #93
@JWijkhuizen and/or @shreyashpalande, could you try to install `mc_mros_reasoner:master` and confirm whether you do not run into this issue?

[2020-09-09 11:52] chcorbato commented on #89
Does this happens to you @JWijkhuizen ?

[2020-09-09 12:24] chcorbato opened #94 "Interface to update objective status from the application via Observer"
See https://github.com/rosin-project/rosgraph_monitor/issues/7

[2020-09-09 15:08] shreyashpalande opened #95 "Local variable 'nfr_energy_value' referenced before assignment, No such file or directory: 'kb.owl'"
Assign values to variables `nfr_energy_value` and `nfr_safety_value` in the `if condition` block

https://github.com/tud-cor/mc_mros_reasoner/blob/91667fab876b3fcdfb629def208d3ecf60583396/mros1_reasoner/scripts/mros1_reasoner.py#L77-L90

Use `default="$(find mros1_reasoner)/scripts/kb.owl"` as the file is not searched by ` default="kb.owl"`
https://github.com/tud-cor/mc_mros_reasoner/blob/91667fab

[2020-09-09 15:15] shreyashpalande commented on #93
@chcorbato I was able to run `mc_mros_reasoner:master` branch successfully without any issues. This is the output

started roslaunch server

[code]

[2020-09-10 07:40] JWijkhuizen commented on #77
What I think that should be in the service call:
- The mros_reasoner should ask for an update of a specific QA
- Maybe also the name of the current config (so the QA of this config is not updated, this is what the quality observers do already)
What is returned:
for each config with a loaded QA model (Maybe minus the current config):
- The config name and the new QA value

What the QA updater node

[2020-09-10 07:42] gavanderhoorn commented on #77
Suggestion: don't use services for potentially long running operations.

There is no way to cancel a service invocation, nor can you be updated about the status of the operation without the service actually returning/completing.

Use actions.

[2020-09-10 16:06] marioney commented on #95
@shreyashpalande  thanks for reporting this.

These errors are fixed in https://github.com/tud-cor/mc_mros_reasoner/commit/44d3dab479426a1068ccf6da566c9929ed6a49c0

Can you check them, and if everything is OK close this

[2020-09-11 08:11] #95 closed

[2020-09-11 09:47] chcorbato commented on #93
Based on this I close the [test above](https://github.com/tud-cor/mc_mros_reasoner/issues/93#issuecomment-689630119) by @shreyashpalande  issue

[2020-09-11 09:47] #93 closed

[2020-09-14 15:21] marioney commented on #84
The tests have been created in https://github.com/tud-cor/mc_mros_reasoner/commit/a1840915ea7707fbf404583abd4723ef115682f1

There are 3 different tests:

Checks the /rosout topic for the correct messages.

run it with
`rostest mros1_reasoner test_level_1_functional_arch.test`

Checks the /rosout topic for the correct messages (i.e. Message with received `performance` QA value of `0.2`

run it with

[2020-09-16 06:46] chcorbato opened #97 "Test 'test_level_1_functional_arch' fails in branch split_mros1_reasoner"
I have locally merged `split_mros1_reasoner` and `create_tests`.
I cannot find what causes the failure. When I manually test with the script for the test case it seems to work:
[code]
Also, the `test_qa_reception` passes.

### Test output
[code]

[2020-09-16 07:20] chcorbato commented on #97
Fixed in 19394f6052335effd4c3c407389028b08f88b533
test conditions on rosout were no longer met because some messages are now prints in the python library

[2020-09-16 07:20] #97 closed

[2020-09-16 07:25] #84 closed

[2020-09-16 07:31] chcorbato opened #98 "Test 'test_models_paper' fails in branch split_mros1_reasoner"
A similar issue to #97. I forgot to try this test before merging.
I am looking into it. Probably test conditions in rosout have changed.

This is the output I get went things go "wrong"

[code]

[2020-09-16 07:51] chcorbato commented on #98
After some fixes in a5256fcf199874bb717ae19895b68ee4ffc4f372

There is still an error that I do not understand, because it relates to `rosgraph_manipulator_client.get_result()`
[code]

[2020-09-16 08:34] marioney commented on #98
For me the test is passing. So I'm just guessing here.

It may be that this is trying to access the result before it's there, so it may be a timing issue.  We can check that it's not `None` before accessing it to handle this.  But it's strange because the   `wait_for_result()` was supposed to take care of that.

[2020-09-16 10:37] marioney opened #99 "Remove import to owlread from main script"
This import

https://github.com/tud-cor/mc_mros_reasoner/blob/44d3dab479426a1068ccf6da566c9929ed6a49c0/mros1_reasoner/scripts/mros1_reasoner.py#L15

should not be needed,  as everything from that library should be in the tomasys.py file

[2020-09-16 12:56] JWijkhuizen commented on #89
I do not have this problems with the Observers. But I am still running most of my simulations without the reasoner

[2020-09-16 20:06] chcorbato commented on #98
Looks indeed a timing issue. Now I got the test SUCCEED, but I keep the same exception when the reconfiguration is requested:
[code]

[2020-09-17 08:18] JWijkhuizen commented on #89
This indicates that it is a problem with the observer right?

I have had the problem that some of the observers stopped publishing after move_base was killed and launched again. For now I fixed this by also killing and launching the observers as well, which is fine for my simulation where I only collect data.

I think the problem is in the rosgraph_monitor node

[2020-09-17 08:44] chcorbato commented on #89
Thanks for the insights @JWijkhuizen , I will look into it.

[2020-09-17 12:03] marioney opened #100 "Define correct path to store debug logs"
We're saving  copies of the ontology (e.g.)

https://github.com/tud-cor/mc_mros_reasoner/blob/44d3dab479426a1068ccf6da566c9929ed6a49c0/mros1_reasoner/scripts/mros1_reasoner.py#L113

But I'm not sure where it is being stored.

@chcorbato  should we store this on a specific folder? or give it as parameter?

[2020-09-17 16:26] marioney commented on #99
I'm closing this as it's already solved in https://github.com/tud-cor/mc_mros_reasoner/commit/ef4d6f039139a6ef162a7ac71228a8617dff5020

[2020-09-17 16:26] #99 closed

[2020-09-18 12:27] chcorbato commented on #100
It is saved for debugging purposes, to store the running state of the KB.
Currently the file is saved in `~/.ros` (I think because that is the execution space for ROS nodes and a relative path is given, but maybe @gavanderhoorn can explain better), maybe it is better to save it in `~/.ros/log`?
I do not think we need to configure the path with a parameter.

[2020-09-18 12:30] chcorbato commented on #99
https://twitter.com/erikras/status/1304887693575426048?s=21 @marioney 👏👏

[2020-09-18 12:55] chcorbato opened #101 "Sometimes test_level_1_functional_arch fails"
commit: ef4d6f039139a6ef162a7ac71228a8617dff5020

In some failed tests, there is a reasoning ERROR reported in rosout, see:
[code]

but in other failed tests there is not such error reported:
[code]

[2020-09-18 14:39] marioney commented on #101
Update:

It seems that the error happens when the [`timer_cb`](https://github.com/tud-cor/mc_mros_reasoner/blob/ef4d6f039139a6ef162a7ac71228a8617dff5020/mros1_reasoner/src/mros1_reasoner/ros_reasoner.py#L167)  is called during the test.

[2020-09-18 14:44] chcorbato commented on #101
I do not know how rostest execution works: how would it be possible not to call `timer_cb` during the test? It is a sync we want to test.

[2020-09-18 15:23] chcorbato opened #102 "consistency of the grounded configuration"
https://github.com/tud-cor/mc_mros_reasoner/blob/ef4d6f039139a6ef162a7ac71228a8617dff5020/mros1_reasoner/src/mros1_reasoner/ros_reasoner.py#L29

The architectural requirements are:
- `desired_configuration` can only be set when deploying the metacontrol application, with the initially grounded configuration
- `grounded_configuration` gets automatically updated when the fg proposed by the reasoner

[2020-09-21 09:46] chcorbato commented on #79
see #103
Still some work to do to remove owlready2 objects from ros_reasoner

[2020-09-21 09:48] chcorbato commented on #98
I think I now what the problem is:

Sometimes there is a second reconfiguration, and that one is failing, probably because we are not handling properly the new grounding and related name of the configuration for the `rosgraph_manipulator`
so this relates to #91

[2020-09-21 10:03] chcorbato commented on #87
fixed in #104

[2020-09-21 10:03] #87 closed

[2020-09-21 14:00] marioney commented on #86
This is already solved in https://github.com/tud-cor/mc_mros_reasoner/commit/aace2aeb04854b373c16b40c82b9451fc58311b9

All parameters are now relative and inside the `<node>` tag

[2020-09-21 14:00] #86 closed

[2020-09-21 14:04] marioney commented on #101
Ok, found the error.

This message

https://github.com/tud-cor/mc_mros_reasoner/blob/aace2aeb04854b373c16b40c82b9451fc58311b9/mros1_reasoner/src/mros1_reasoner/ros_reasoner.py#L54

Is sometimes published before the tests subscribes to the topic, and therefore it's always failing.

@chcorbato  we can solve this in two ways:

[ ] Add a sleep before publishing the message.
[ ] Use a different message

[2020-09-22 07:55] chcorbato commented on #101
Shall we close the issue @marioney ? Unless you have a better fix already in mind, I propose you open a different issue if it needs to be fixed some other way and we close this one (not to have this one hanging if we do not have to)

[2020-09-22 10:25] marioney commented on #101
Ok, we should close this then. It's ok to leave like this I guess.

[2020-09-22 10:25] #101 closed

[2020-09-22 12:16] marioney commented on #98
**Update:** This is still happening from time to time.

Seems that the issue is that the connection to the action server is lost. I've added a check on https://github.com/tud-cor/mc_mros_reasoner/commit/85a0f0aa747ea1822a2b3eb90ebf49186133b1fb to avoid the crash, but still don't know how to avoid losing the connection.

Also, each time it fails I'm getting this warning

[code]

So it's definitely

[2020-09-22 12:41] JWijkhuizen commented on #77
I will try to implement this service/action today/tomorrow.
@chcorbato can you help me with the best location for this call?
Can I place this in the timer_cb function?

[2020-09-23 06:29] chcorbato commented on #98
@marioney can you confirm is it happens when there is a 2nd reconfiguration action requested?

[2020-09-23 06:36] chcorbato commented on #77
@JWijkhuizen are you implementing it as an action?

If this is something that happens only from time to time, I think it should be triggered by the QA Observer (no need for the mros_reasoner node to keep checking periodically)

If using actions (recommended) the I think the action server needs to be the mros_reasoner node, and the QA Observer the client.
In that case you only need to implement in

[2020-09-23 07:24] JWijkhuizen commented on #77
It should happen every time before the search for a new configuration, or before every reasoning cycle. How does the QA observer know when this will happen?

If I understand the code correctly, the timer_cb is the reasoning cycle, right? So this happens once every 2 seconds?
`timer = rospy.Timer(rospy.Duration(2.), timer_cb)`

The QA Observer is able to send the predicted QA values at the same fre

[2020-09-23 07:26] marioney commented on #98
Yes, I think it happens always on the second reconfiguration action. At least I haven't seen it fail on the first one.

[2020-09-23 07:39] chcorbato commented on #77
Good point, sorry I though the node detecting the change in context should trigger it, but that is indirectly triggered by the need of reconfiguration, correct?

I thing we should not do this when not necessary, so only before the mros_reasoner searches for a new configuration seems a good option to me.

[2020-09-23 08:20] JWijkhuizen commented on #77
The change of the environment is continuous, every timestep the environment can be different.

@chcorbato  Where in the mros_reasoner do you recommend to implement this?

[2020-09-23 08:43] chcorbato commented on #77
But this relates to updating the QA models in the KB, not necessarily trigger reconfiguration. So only update the KB when we use the KB to make a decision, in our case update the QA models for the FDs (aka configurations) when we need to select one.

We are about to merge a big refactoring of mros_reasoner, so that there is a more clear code structure. @marioney shall we do the merge? DO you have

[2020-09-23 16:17] marioney commented on #88
This can already be solved as V  0.6.1 version of catkin_virtualenv is now available via apt

[2020-09-23 16:20] #88 closed

[2020-09-24 11:51] JWijkhuizen commented on #77
I dont think I need a lot of help if the code structure is more clear @marioney .

Is there a stable version that I already can use? I really want to start soon with my final experiments. @chcorbato

[2020-09-24 13:54] chcorbato commented on #77
New version can be installed following these instructions @JWijkhuizen @shreyashpalande @karelflere :
https://github.com/rosin-project/metacontrol_sim
courtesy of @marioney 👏
but I am to blame for any issue with the install instructions

[2020-09-24 14:49] chcorbato commented on #79
We did not implement this design proposal, but we have separated the OWL reasoner from the ROS implementation in the refactoring in https://github.com/tud-cor/mc_mros_reasoner/releases/tag/v0.2

[2020-09-24 14:49] #79 closed

[2020-09-24 14:50] #80 closed

[2020-09-24 14:51] chcorbato commented on #82
Addressed by #84
If we need further tests we can create a separate issue.

[2020-09-24 14:51] #82 closed

[2020-09-24 14:53] chcorbato commented on #26
This has been implemented successfully in #85 , so issue solved.

[2020-09-24 14:53] #26 closed

[2020-09-24 14:57] chcorbato commented on #60
This has been solved for installation by @marioney in 67d4af8
But it needs to be properly documented (for maintenance) in the [README.md](https://github.com/tud-cor/mc_mros_reasoner/blob/master/README.md)
Could you please do that @darkobozhinoski ?

[2020-09-24 15:16] chcorbato commented on #72
@marioney and me decided to have the basic instructions to run one demo of mros1_reasoner in https://github.com/rosin-project/metacontrol_sim
But we should update the instructions here https://github.com/rosin-project/metacontrol_experiments
This is also related to #60 (instructions for developers and maintainers)

[2020-09-24 15:19] chcorbato commented on #57
We will not do this.
We will work on this repo for all metacontrol projects, using different branches and project boards.

[2020-09-24 15:19] #57 closed

[2020-09-24 15:20] chcorbato commented on #69
Solved in 67d4af8

[2020-09-24 15:20] #69 closed

[2020-09-24 16:13] marioney opened #106 "Create ontology for laser_failure according to system modes in pilot URJC"
We new an ontology that includes the names of the system modes of https://github.com/MROS-RobMoSys-ITP/Pilot-URJC so as to be able to test the reasoner with the pilot

This should be targeted to the https://github.com/tud-cor/mc_mros_reasoner/tree/foxy_devel branch

@jginesclavero can maybe help us with this

[2020-09-25 07:01] jginesclavero commented on #106
Hi @marioney!
Of course, How can I help you?

[2020-11-10 09:59] chcorbato commented on #106
I think this has been completed by @marioney and @estherag, could you please indicate where?

[2020-11-10 17:11] marioney opened #111 "Cancel goal when no available fd is found"
If the objective is in error, and the Metacontroller does not find any valid mode to solve it, the goal should be cancelled.

@chcorbato is this the correct way to go? should it be an `fd_error` to go when all other "modes" are not avaible

[2020-11-11 17:06] estherag commented on #106
I think [here](https://github.com/tud-cor/mc_mros_reasoner/blob/foxy_devel/mros2_reasoner/owl/MROS_ontology.owl) is the ontology @marioney has updated to use `laser_resender` individual rather than `laser` to match modes configuration file.

However, for future components, to avoid information duplicates and mismatching names, maybe we could read this configuration file and update MROS ontology in

[2020-11-11 18:03] marioney commented on #106
That's correct.  That version of the ontology already handles the `laser_resender` error.

@estherag  Not sure what you mean by that? you mean to create the components from the python script? that will require to also change all the `fd_s` to determine which ones depend on it, is that correct?

[2020-11-13 16:42] estherag commented on #106
@marioney that's it. However, this can be done through that python script easily. Just like the metacontroller currently creates an objective and its NFRs and links it to be their QA. We could have all the `fd_s` in the .owl and in the python script define the components and link them to the `fd_s` through the property `requiredBy`. Just like I did manually when I created the ontology.

I just pro

[2020-11-15 13:39] marioney opened #112 "Read configurations (`fd`s) from file and update MROS ontology individuals with an owlready script"
Create the components from a python script.

-  Create the objective and its dependencies.
-  Add all the `fd_s`  and determine which objectives will they solve.
-  Add the components and determine which `fd_s`  depend on each one.
-  Add Quality Attributes accordingly.

[2020-11-15 13:40] marioney commented on #106
@estherag I've created a separated issue for that (see #112)

I'm closing this one as the laser_failure is already handled by the current ontology.

[2020-11-15 13:40] #106 closed

[2020-11-16 20:06] chcorbato commented on #111
I agree, the objective for the `mros_reasoner` should be cancelled. I think this would require:
- [ ] remove the objective instance from those the reasoner is trying to maintain/pursue. Maybe this requires to extend in the ontology the status of an objective. What do you think @estherag @rsanz ?
- [ ] report back, to the client of the `mros_reasoner` metacontrol services, that the objective cannot

[2020-11-16 20:15] chcorbato commented on #112
Is this for the JSS paper with Nadia? Just trying to do some triage ;-)

[2020-11-16 20:18] chcorbato commented on #112
Note that the "file" should be the model of the system specified with the grammar/metamodel that @darkobozhinoski is defining.

[2020-11-17 15:34] estherag commented on #111
Maybe we can have more status for the objective: IN_PROGRESS, IN_ERROR_NFR, IN_ERROR_COMPONENT, UNREACHABLE.

IN_ERROR_NFR may be set when the current FG doesn't meet objectives NFRs so a new FG should be selected
IN_ERROR_COMPONENT would be set when the current FG uses an unavailable component so a new FG should be selected
When there isn't a FD reachable, we could set the objective at UNREACHABL

[2020-11-17 16:36] chcorbato commented on #111
I like your proposal @estherag

In the case of UNREACHABLE, I think the metacontroller should notify the client of its action server to achieve that objective, typically the task/mission coordination logic, who would decide whether to cancel that objective (thus the reasoner would eliminate it from the ontology) and which new objective to request.

We have discussed with URJC and agreed that the l

[2020-11-17 20:28] marioney commented on #111
I agree, having more status makes sense.

Still, shoudl the ontology define a  FG to choose when the objective is UNREACHABLE? or should it just report that it cannot be achieved and let the processing for the metacontroller/task planner?

[2020-11-19 14:07] norro opened #113 "[ros2] Read more than two ontologies"
Currently, the mros2 reasoner setup seems to assume that I pass one model fle (my custom ontology, I suppose) and the tomasys ontology. What would be the recommended way of loading tomasys, and two more ontology files (the two MROS pilot ontologies in my case)?

[2020-11-19 14:08] norro commented on #113
@chcorbato @marioney Can you help with this issue?

[2020-11-19 18:37] marioney commented on #113
I've created a branch to test this https://github.com/tud-cor/mc_mros_reasoner/tree/foxy_multi_model_files

It accepts a list of model files in the [launch file](https://github.com/tud-cor/mc_mros_reasoner/blob/1fc640c552cac0fae5ef63434be7d5107d4a5881/mros2_reasoner/launch/launch_reasoner.launch.py#L40) and appends the secondary model files to the first one.

@chcorbato  do you think this will wor

[2020-11-23 06:42] chcorbato opened #114 "mc_mros_reasoner package release"
(from https://github.com/MROS-RobMoSys-ITP/metacontroller/issues/4)
metacontroller depends on owlready2 python package
- [x] we need to contribute the rule to rosdep:
https://github.com/ros/rosdistro/blob/master/CONTRIBUTING.md
http://docs.ros.org/independent/api/rosdep/html/contributing_rules.html

[2020-11-23 08:27] gavanderhoorn commented on #114
Note: since `owlready2` is not available through the Debian/Ubuntu `apt` repositories, you'll have to contribute a `pip` rule (ie: `pip-owlready2`).

This will immediately mean you cannot release `mc_mros_reasoner` through the ROS buildfarm (as that only supports `apt` dependencies), but I guess that's not really an issue here.

[2020-11-23 08:36] marioney commented on #113
@norro Can you confirm if this is working, so we can close this and make a PR with the changes?

[2020-11-23 10:39] marioney commented on #114
I've created the PR to contribute the `python3-owlready2-pip` rule  https://github.com/ros/rosdistro/pull/27418

We're using both, `catkin_virtualenv` is used for melodic, but for foxy we don't need that anymore.

[2020-11-23 10:53] norro commented on #113
This is working for us, thank you, @marioney!

[2020-11-23 10:53] #113 closed

[2020-11-23 11:53] estherag commented on #111
I also agree.

I think from the ontology side both approach are possible:

I understand this UNREACHABLE status is set by the metacontroller when there is not FD available. In that case, the mission logic should set a new objective.  I think we could go in this case with the objective and FG in error until a new objective and FG are set.

However, if it is easier for the metacontroller to have a `

[2020-11-23 16:14] gavanderhoorn commented on #114
could still be nice to avoid polluting people's machines, but that may be not too important.

[2020-11-23 22:41] marioney commented on #114
In any case, I guess the `rosdep` rule is still useful.

I'm closing this as the contribution has been merged already https://github.com/ros/rosdistro/pull/27418#event-4029472094

[2020-11-23 22:41] #114 closed

[2020-11-23 22:44] marioney opened #117 "Add dependencies for owlready2 and java"
`mros2_reasoner` depends on `java` and  `owlready2`.

Both dependencies are on rosdep, so they can be added to the [package.xml](https://github.com/tud-cor/mc_mros_reasoner/blob/foxy_devel/mros2_reasoner/package.xml)

[2020-11-24 12:48] chcorbato opened #118 "Desired behavior when the reasoner cannot find a configuration/mode that fulfills current objective"
(from https://github.com/tud-cor/mc_mros_reasoner/issues/111#issuecomment-729182624)

@fmrico @norro @jginesclavero @ralph-lange in your pilots, what should be the behavior when the reasoner cannot find a configuration/mode that fulfils current objective?

**Should the developer be able to define a DEFAULT FG/configuration/mode** to choose when an objective is UNREACHABLE? or should it just report

[2020-11-24 12:52] chcorbato commented on #111
I have moved this question of having a fall-back or default FD/configuration/mode to a new issue #118
I close this one, since certainly the objective being UNREACHABLE should be reported by the reasoner to the wrapper and then to the mission logic.

[2020-11-24 12:52] #111 closed

[2020-11-24 16:23] chcorbato opened #119 "Objective status and desired reasoner behaviour"
Maybe we can have more status for the objective: IN_PROGRESS, IN_ERROR_NFR, IN_ERROR_COMPONENT, UNREACHABLE.

IN_ERROR_NFR may be set when the current FG doesn't meet objectives NFRs so a new FG should be selected
IN_ERROR_COMPONENT would be set when the current FG uses an unavailable component so a new FG should be selected
When there isn't a FD reachable, we could set the objective at UNREACHABL

[2020-11-24 16:27] chcorbato commented on #119
We need to identify what needs for new states we have. This can be clarified with the State Machine for an Objective status, that is define for each status:
- What events could happen in the reasoner when the objective is in that status, i.e. adaptation triggered, update something in the ontology...
- what transitions to other status should happen depending on which event happened

[2020-11-27 17:28] marioney commented on #117
Dependencies added in https://github.com/tud-cor/mc_mros_reasoner/commit/47f97faca1ef2def821c021a6a9e0a403797d473

[2020-11-27 17:29] #117 closed

[2021-04-07 07:19] chcorbato opened #125 "QA check issue due to general rule"
There is an issue with all rules defined as "greater than", but for one specific requirement, the rule requires "minor than".

@marioney can you provide detail? Feel free to edit the issue.

[2022-04-26 12:54] chcorbato opened #128 "Define proper objective status logic (state machine?)"
https://github.com/meta-control/mc_mros_reasoner/blob/96982656fb03543f09e3b2da574dc444b4d38e8b/mros2_reasoner/mros2_reasoner/ros_reasoner.py#L381

This needs to be fixed simultaneously with logic in the Wrapper (monitors objectives) and in the Observer (which apparently in ROS2 monitors components/nodes)

[2022-05-20 09:45] estherag commented on #128
I've been thinking how to solve this but it is not that easy. The problem is that the Observer only handles components and the Wrapper only handles objectives. When a component is RECOVERED we have two options:

- Extend the observer to also handle objectives:
  - Send a objective UPDATABLE status and handle it as if the Objective were in INTERNAL ERROR -> need to select the best, available and re

[2022-05-23 21:15] chcorbato opened #129 "Desired QA values are assumed lower than NFR and in [0.0, 1.0]"
Currently, diagnosis of quality attributes assumes that
- QA values are in [1.0, 0.0],
- the desired QA values need to stay lower than the NFR value

The convention in this repo is different in the repo about predictive observers by https://github.com/JWijkhuizen

- [ ] [link to repo needed here]

Is this the best modelling of QAs? Can we model it better by defining a "metamodel" of QAs in TOMASys

[2022-11-10 13:46] FahimaGold opened #130 "moduleNotFound: No module named “system_modes”"
Hello, I am a beginner in ROS, and I am working on MROS. I followed the installation guidelines in README, and using the branch `foxy_devel` However, when I run `ros2 launch mros2_reasoner launch_reasoner.launch.py`. I got the following error:

[INFO] [launch]: All log files can be found below /home/vagrant/.ros/log/2022-11-10-10-35-18-087379-ubuntu-vb-72166
[INFO] [launch]: Default logging verbos

[2022-11-14 17:19] Rezenders commented on #130
The ChangeMode service is not in the system_modes pkg, it is in the system_modes_msgs pkg. That is why you are getting this error. I opened a PR to fix this. While it is not accepted you can change that directly in your code.

[2022-11-15 07:40] FahimaGold commented on #130
It worked, thank you very much !

[2022-11-15 07:40] #130 closed

[2022-11-15 09:55] Rezenders opened #135 "Reorganize branches"
Delete unused branches. I think it would be nice to make the main branch of this repo a ros2 branch.

[2022-11-15 09:57] Rezenders opened #136 "Add CI as github action"
Add a github action to build the repo for the different ros versions to test if it is working.
Would be nice to automatically test the repo as well. If I understood correctly, there are no tests for ROS2.

[2022-11-17 16:04] Rezenders opened #138 "Allow system_modes to be used for more than one node"
Allow system_modes to be used for more than one node

https://github.com/meta-control/mc_mros_reasoner/blob/dee60e1b70b14eff21f0a1be94da5e29b941795e/mros2_reasoner/mros2_reasoner/ros_reasoner.py#L349

[2022-11-17 16:10] Rezenders opened #139 "Separate system_modes from MROS"
Right now system_modes' services are being called from the reasoner, making it mandatory to use system_modes. It should be possible to use it with something else.

[2022-11-18 09:27] #19 closed

[2022-11-18 09:28] Rezenders commented on #51
This issue has been labeled with wontfix, I am closing it.

[2022-11-18 09:28] #51 closed

[2022-11-23 19:22] Rezenders opened #140 "Exceptions not being retrieved every time in request_configuration"
I guess this issue has 2 sources:
1. the use of async
2. this issue: https://github.com/ros2/rclpy/issues/983

This results in the request_configuration "completing" or "not breaking" without actually completing. This should be fine if the request fails because it didn't get a reply from the service, but IMO if the service name is wrong it should break.

[2022-11-24 11:56] chcorbato commented on #135
Agreed. I propose:

- [ ] Delete all branches that are merged into: `master`, `foxy_devel` or `humble`
- [ ] Create a pull request from https://github.com/MRamirez25/mc_mros_reasoner (check if the fixes there are still relevant)

[2022-11-25 16:46] Rezenders commented on #135
What about the branches `melodic`, `rosmodel2owl`, `rosnavigationowl`, and `refactoring`?
`melodic` and `rosnavigationowl` are behind master and don't have any commits to be merged
`rosmodel2owl` and `refactoring`  have commits to be merged and are behind master

[2022-11-29 14:23] Rezenders opened #141 "All function designs in error are added to fd_error_log"
Every time a function grounding violates a NFR the objective it is solving is added to the function design `fd_error_log`.
This shouldn't be the case for all violations, in the smart home for example we don't add the FDs to an error log. In addition, it doesn't make sense to block an FD for a violating a non-functional requirement.

Another issue I see is that the relationship order seems to be in

[2022-11-29 14:43] Rezenders opened #142 "Add a property to quality attributes to indicate if it is a NFR or FR, by default I suggest treating them as NFR (this is not backwards compatible but IMO it makes more sense)"
Add a property to quality attributes to indicate if it is a NFR or FR, by default I suggest treating them as NFR (this is not backwards compatible but IMO it makes more sense)
Related to: https://github.com/meta-control/mc_mros_reasoner/issues/141

[2022-11-29 14:43] Rezenders commented on #142
Done at https://github.com/meta-control/mc_mdl_tomasys/commit/e39a043b9c74ea6a84051dac972b0f85a44cf46e

[2022-11-29 14:43] Rezenders opened #143 "Add a new objective status called `IN_ERROR_FR`"

[2022-11-29 14:43] Rezenders opened #144 "In the SWRL rules, have different rules for setting the objective status either to `IN_ERROR_FR` or `IN_ERROR_NFR` according to the quality attribute that was violated"

[2022-11-29 16:58] Rezenders commented on #142
This change is not necessary. I reverted it.
https://github.com/meta-control/mc_mdl_tomasys/commit/598f74675e2d67f72697a1f05e567c13735dbe97

[2022-11-29 16:59] Rezenders commented on #143
Done at [195556a](https://github.com/meta-control/mc_mros_reasoner/commit/195556a66ded2306a08f601f6ffb2069e281a4f6)

[2022-11-29 17:04] Rezenders commented on #144
Done at https://github.com/meta-control/mros_ontology/commit/7e3877de01539cbed809951c1f268227a3ef283a
An example can be found in [mock.owl ](https://github.com/meta-control/mros_ontology/blob/main/owl/mros.owl)

[2022-11-29 17:04] Rezenders commented on #141
Done

[2022-11-29 17:05] Rezenders commented on #141
@chcorbato FYI

[2022-11-29 17:25] Rezenders opened #145 "Replace meetNFR method for SWRL rules"
The method meetNFR requires that a rule is inserted for all quality attribute types, this is not optimal.
This method can be replaced by SWRL rules.

The rules that are used to set the objective status to be in `IN_EROR_FR` when a FG is not meeting the requirements could be used to add fds that do not meet the requirements to fd_error_log or set availability to false